<% include header %>

<div class="container">
    <div class="col-sm-4 col-sm-offset-5">
        <a href="#"><img id="s_lg_img" src="../image/icn.png" ></a>
        <p>
            <br>
            <br>
            <br>
        </p>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <form action="http://www.baidu.com/baidu">
            <table>
                <tr>
                    <td>

                    </td>
                </tr>
            </table>
            <div class="input-group input-group-lg">
                <input type=text name=word size=30 class="form-control" placeholder="baidu搜索">
                  <span class="input-group-btn">
                <button class="btn btn-default" type="submit">搜索</button></span>
            </div>
        </form>
    </div>
</div>



<% include footer %>